@import "tailwindcss";

:root {
  --color-gray-25: rgb(253 253 253);
  --color-gray-50: rgb(250 250 250);
  --color-gray-100: rgb(245 245 245);
  --color-gray-200: rgb(233 234 235);
  --color-gray-300: rgb(213 215 218);
  --color-gray-400: rgb(164 167 174);
  --color-gray-500: rgb(113 118 128);
  --color-gray-600: rgb(83 88 98);
  --color-gray-700: rgb(65 70 81);
  --color-gray-800: rgb(37 43 55);
  --color-gray-900: rgb(24 29 39);
  --color-gray-950: rgb(10 13 18);
}

[data-theme="dark"] {
  --color-gray-025: rgb(250 250 250);
  --color-gray-050: rgb(247 247 247);
  --color-gray-100: rgb(240 240 241);
  --color-gray-200: rgb(236 236 237);
  --color-gray-300: rgb(206 207 210);
  --color-gray-400: rgb(148 151 156);
  --color-gray-500: rgb(133 136 142);
  --color-gray-600: rgb(97 101 108);
  --color-gray-700: rgb(55 58 65);
  --color-gray-800: rgb(34 38 47);
  --color-gray-900: rgb(19 22 27);
  --color-gray-950: rgb(12 14 18);
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-archivo: var(--font-archivo);

  --color-gray-*: initial;
  --color-gray-025: var(--color-gray-025);
  --color-gray-050: var(--color-gray-050);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);
  --color-brand-025: rgb(252 250 255);
  --color-brand-050: rgb(249 245 255);
  --color-brand-100: rgb(244 235 255);
  --color-brand-200: rgb(233 215 254);
  --color-brand-300: rgb(214 187 251);
  --color-brand-400: rgb(182 146 246);
  --color-brand-500: rgb(158 119 237);
  --color-brand-600: rgb(127 86 217);
  --color-brand-700: rgb(105 65 198);
  --color-brand-800: rgb(83 56 158);
  --color-brand-900: rgb(66 48 125);
  --color-brand-950: rgb(44 28 95);
  --color-error-025: rgb(255 251 250);
  --color-error-050: rgb(254 243 242);
  --color-error-100: rgb(254 228 226);
  --color-error-200: rgb(254 205 202);
  --color-error-300: rgb(253 162 155);
  --color-error-400: rgb(249 112 102);
  --color-error-500: rgb(240 68 56);
  --color-error-600: rgb(217 45 32);
  --color-error-700: rgb(180 35 24);
  --color-error-800: rgb(145 32 24);
  --color-error-900: rgb(122 39 26);
  --color-error-950: rgb(85 22 12);
}

@theme {
  --text-*: initial;
  --text-xs: calc(var(--spacing) * 3);
  --text-xs--line-height: calc(var(--spacing) * 4.5);
  --text-sm: calc(var(--spacing) * 3.5);
  --text-sm--line-height: calc(var(--spacing) * 5);
  --text-md: calc(var(--spacing) * 4);
  --text-md--line-height: calc(var(--spacing) * 6);
  --text-lg: calc(var(--spacing) * 4.5);
  --text-lg--line-height: calc(var(--spacing) * 7);
  --text-xl: calc(var(--spacing) * 5);
  --text-xl--line-height: calc(var(--spacing) * 7.5);
  --text-display-xs: calc(var(--spacing) * 6);
  --text-display-xs--line-height: calc(var(--spacing) * 8);
  --text-display-sm: calc(var(--spacing) * 7.5);
  --text-display-sm--line-height: calc(var(--spacing) * 9.5);
  --text-display-md: calc(var(--spacing) * 9);
  --text-display-md--line-height: calc(var(--spacing) * 11);
  --text-display-md--letter-spacing: -0.72px;
  --text-display-lg: calc(var(--spacing) * 12);
  --text-display-lg--line-height: calc(var(--spacing) * 15);
  --text-display-lg--letter-spacing: -0.96px;
  --text-display-xl: calc(var(--spacing) * 15);
  --text-display-xl--line-height: calc(var(--spacing) * 18);
  --text-display-xl--letter-spacing: -1.2px;
  --text-display-2xl: calc(var(--spacing) * 18);
  --text-display-2xl--line-height: calc(var(--spacing) * 22.5);
  --text-display-2xl--letter-spacing: -1.44px;

  --radius-*: initial;
  --radius-none: 0px;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-DEFAULT: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant aria-atomic (&[aria-atomic="true"]);
@custom-variant aria-busy (&[aria-busy="true"]);
@custom-variant aria-checked (&[aria-checked="true"]);
@custom-variant aria-current (&[aria-current="true"]);
@custom-variant aria-disabled (&[aria-disabled="true"]);
@custom-variant aria-expanded (&[aria-expanded="true"]);
@custom-variant aria-grabbed (&[aria-grabbed="true"]);
@custom-variant aria-haspopup (&[aria-haspopup="true"]);
@custom-variant aria-hidden (&[aria-hidden="true"]);
@custom-variant aria-invalid (&[aria-invalid="true"]);
@custom-variant aria-live (&[aria-live="true"]);
@custom-variant aria-modal (&[aria-modal="true"]);
@custom-variant aria-multiline (&[aria-multiline="true"]);
@custom-variant aria-multiselectable (&[aria-multiselectable="true"]);
@custom-variant aria-pressed (&[aria-pressed="true"]);
@custom-variant aria-readonly (&[aria-readonly="true"]);
@custom-variant aria-required (&[aria-required="true"]);
@custom-variant aria-selected (&[aria-selected="true"]);

@custom-variant aria-autocomplete-both (&[aria-autocomplete="both"]);
@custom-variant aria-autocomplete-inline (&[aria-autocomplete="inline"]);
@custom-variant aria-autocomplete-list (&[aria-autocomplete="list"]);
@custom-variant aria-autocomplete-none (&[aria-autocomplete="none"]);
@custom-variant aria-current-date (&[aria-current="date"]);
@custom-variant aria-current-location (&[aria-current="location"]);
@custom-variant aria-current-page (&[aria-current="page"]);
@custom-variant aria-current-step (&[aria-current="step"]);
@custom-variant aria-current-time (&[aria-current="time"]);
@custom-variant aria-dropeffect-copy (&[aria-dropeffect="copy"]);
@custom-variant aria-dropeffect-execute (&[aria-dropeffect="execute"]);
@custom-variant aria-dropeffect-link (&[aria-dropeffect="link"]);
@custom-variant aria-dropeffect-move (&[aria-dropeffect="move"]);
@custom-variant aria-dropeffect-none (&[aria-dropeffect="none"]);
@custom-variant aria-dropeffect-popup (&[aria-dropeffect="popup"]);
@custom-variant aria-haspopup-dialog (&[aria-haspopup="dialog"]);
@custom-variant aria-haspopup-grid (&[aria-haspopup="grid"]);
@custom-variant aria-haspopup-listbox (&[aria-haspopup="listbox"]);
@custom-variant aria-haspopup-menu (&[aria-haspopup="menu"]);
@custom-variant aria-haspopup-tree (&[aria-haspopup="tree"]);
@custom-variant aria-orientation-horizontal (&[aria-orientation="horizontal"]);
@custom-variant aria-orientation-undefined (&[aria-orientation="undefined"]);
@custom-variant aria-orientation-vertical (&[aria-orientation="vertical"]);
@custom-variant aria-sort-ascending (&[aria-sort="ascending"]);
@custom-variant aria-sort-descending (&[aria-sort="descending"]);
@custom-variant aria-sort-none (&[aria-sort="none"]);
@custom-variant aria-sort-other (&[aria-sort="other"]);
@custom-variant aria-relevant-additions (&[aria-relevant="additions"]);
@custom-variant aria-relevant-all (&[aria-relevant="all"]);
@custom-variant aria-relevant-removals (&[aria-relevant="removals"]);
@custom-variant aria-relevant-text (&[aria-relevant="text"]);
